/* Main */
$primary: hsl(0, 88%, 70%);
$background: hsl(312, 13%, 8%);
$background-dark: hsl(312, 9%, 6%);
/* Colors */
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$quite-gray: hsl(0, 0%, 50%);
$grooble: hsl(10, 28%, 93%);
$red: hsl(0, 82%, 35%);
$blue: hsl(220, 82%, 35%);