@import "colors";
@import "utilities";
@import "mixins";

*, *::before, *::after {
  box-sizing: inherit;
}
html, body {
  margin: 0;
  width: 100%;
  color: hslac($white, 1);
  font-family: $font-main;
  background-color: hslac($background, 1);
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

h1 {
  font-size: $heading-large;
}
h2, h3, h4 {
  font-size: $heading-medium;
}
h5, h6 {
  font-size: $heading-small;
}
p {
  font-size: $paragraph;
}

.view-width {
  width: calc(100% - 6em);
  @include phone {
    width: calc(100% - 2em);
  }
  @include tablet {
    width: calc(100% - 4em);
  }
  @include desktop {
    width: calc(100% - 5em);
  }
}

#root {
  @include flex-center();
}

.App {
  display: grid;
  grid-template-columns: 12.5em calc(100% - 12.5em);
  place-items: flex-start;
  @include phone {
    grid-template-columns: 100%;
  }
  @include tablet {
    grid-template-columns: 100%;
  }
  @include desktop {
    grid-template-columns: 12em calc(100% - 12em);
  }
}

/* Left */
/* Sidebar */
.sidebar {
  top: 0; left: 3em;
  margin: 0; padding: 2em 0 0 0;
  width: 12.5em; height: 100vh;
  display: grid;
  position: fixed;
  grid-template-rows: 5em 1fr;
  z-index: 10;
  @include phone {
    display: none;
  }
  @include tablet {
    display: none;
  }
  @include desktop {
    left: 2.5em;
    width: 12em;
  }
  &-logo {
    height: 1.5em;
    fill: transparent;
    stroke: hslac($white, 1);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2em;
    &-wrapper {
      width: 100%; height: 5em;
      @include flex-left();
    }
  }
  &-items {
    padding: 2em 0;
    width: 100%; height: 100%;
    display: grid;
    &-top {
      width: 100%;
      &-list {
        margin: 0; padding: 0;
        width: 100%;
        list-style-type: none;
        gap: .75em;
        @include flex-col-left-ns();

        &-item {
          width: 100%;
          &-link {
            width: 100%;
            font-size: 1.22rem;
            color: hslac($white, 1);
            text-decoration: none;
            cursor: pointer;
            gap: .5em;
            @include flex-left();

            &-icon {
              width: 1em;
              #bag-outer, #folder-outer, #heart-outer, #setting-outer {
                stroke: none;
                stroke-width: 1;
                fill: none;
                fill-rule: evenodd;
                stroke-linecap: round;
                stroke-linejoin: round;
              }
              #bag, #folder, #heart, #setting {
                stroke: hslac($white, .75);
                stroke-width: 2px;
              }
            }
          }
          &-link.active {
            color: hslac($primary, 1);
            #bag, #folder, #heart, #setting {
              stroke: hslac($primary, .75);
            }
          }
        }
      }
    }
    &-bottom {
      width: 100%;
      @include flex-col-right();

      &-list {
        margin: 0; padding: 0;
        width: 100%;
        list-style-type: none;
        gap: .75em;
        @include flex-col-left-ns();

        &-item {
          width: 100%;
          &-link {
            width: 100%;
            font-size: 1.22rem;
            color: hslac($white, 1);
            text-decoration: none;
            cursor: pointer;
            gap: .5em;
            @include flex-left();

            &-icon {
              width: 1em;
              #setting-outer, #message-outer {
                stroke: none;
                stroke-width: 1;
                fill: none;
                fill-rule: evenodd;
                stroke-linecap: round;
                stroke-linejoin: round;
              }
              #setting, #message {
                stroke: hslac($white, .75);
                stroke-width: 2px;
              }
            }
          }
          &-link.active {
            color: hslac($primary, 1);
            #setting, #message {
              stroke: hslac($primary, .75);
            }
          }
        }
      }
    }
  }
}

/* Right */
/* Content */
.content {
  padding: 2em 0 0 0;
  width: 100%;
  position: relative;
  z-index: 10;
  @include phone {
    padding: 0;
  }
  @include tablet {
    padding: .5em 0 0 0;
  }
}

/* Navbar */
.navbar {
  width: 100%; height: 5em;
  display: grid;
  position: relative;
  grid-template-columns: 70% 1fr;
  place-items: center;
  gap: 2em;
  @include phone {
    gap: .75em;
    grid-template-columns: auto 1fr auto;
  }
  @include tablet {
    gap: 1em;
    grid-template-columns: auto 1fr auto;
  }
  @include desktop {
    grid-template-columns: 1fr auto;
  }

  &-button {
    margin: 0;
    width: 2em;
    height: 1.5em;
    display: none;
    position: relative;
    transform: rotate(0deg) scale(.8, .8);
    transition: .35s cubic-bezier($transition-main, 1.175);
    cursor: pointer;
    z-index: 110;
    @include phone {
      display: block;
    }
    @include tablet {
      display: block;
    }

    span {
      left: 0;
      width: 100%;
      height: 2px;
      display: block;
      position: absolute;
      background: hslac($white, 1);
      border-radius: 19px;
      opacity: 1;
      transform: rotate(0deg);
      transition: .35s cubic-bezier($transition-main, 1.175);

      &:nth-child(1) {
        top: 0;
        width: 100%;
      }
      &:nth-child(2), &:nth-child(3) {
        top: 0.75em;
        width: 75%;
      }
      &:nth-child(4) {
        top: 1.5em;
        width: 40%;
      }
    }
    &.open {
      span:nth-child(1) {
        top: 2em;
        width: 0;
      }
      span:nth-child(2) {
        width: 100%;
        transform: rotate(45deg);
      }
      span:nth-child(3) {
        width: 100%;
        transform: rotate(-45deg);
      }
      span:nth-child(4) {
        top: 18px; left: 50%;
        width: 0;
      }
    }
  }
  &-left {
    width: 100%; height: 100%;
    position: relative;
    @include flex-left();

    &-search {
      width: 100%; height: 100%;
      @include flex-left();

      &-icon {
        left: 1em;
        width: 1em;
        position: absolute;
        #search-outer {
          stroke: none;
          stroke-width: 1;
          fill: none;
          fill-rule: evenodd;
          stroke-linecap: round;
          stroke-linejoin: round;
        }
        #search {
          stroke: hslac($white, .75);
          stroke-width: 2px;
        }
      }
      &-input {
        padding: 0 3.25em;
        width: 40%; height: 3em;
        color: hslac($white, 1);
        background-color: hslac($white, .13);
        border-radius: 5rem;
        border: none;
        @include phone {
          width: 100%;
        }
        @include tablet {
          width: 100%;
        }
        @include desktop {
          width: 100%;
        }
        &:focus {
          outline: none;
        }
        &::placeholder {
          font-family: $font-main;
          color: hslac($white, .5);
        }
      }
    }
  }
  &-right {
    width: 100%; height: 100%;
    @include flex-center();

    &-items {
      width: 100%; height: 100%;
      display: grid;
      grid-template-columns: 3em 3em 1fr;
      place-items: center;
      gap: 1em;
      @include phone {
        grid-template-columns: 100%;
      }
      @include tablet {
        grid-template-columns: 100%;
      }

      &-button {
        width: 100%; height: 3em;
        background-color: hslac($white, .13);
        border-radius: 50%;
        cursor: pointer;
        @include flex-center();
        @include phone {
          display: none;
        }
        @include tablet {
          display: none;
        }

        &-icon {
          left: 2em;
          width: 1.5em;
          #notification-outer, #bag-outer {
            stroke: none;
            stroke-width: 1;
            fill: none;
            fill-rule: evenodd;
            stroke-linecap: round;
            stroke-linejoin: round;
          }
          #notification, #bag {
            stroke: hslac($white, .75);
            stroke-width: 2px;
          }
        }
      }
      &-profile {
        width: 100%; height: 3em;
        display: grid;
        grid-template-columns: 3em 1fr .75em;
        place-items: center;
        text-decoration: none;
        gap: .75em;
        cursor: pointer;
        @include phone {
          grid-template-columns: 3em;
        }
        @include tablet {
          grid-template-columns: 3em;
        }

        &-picture {
          width: 100%; height: 3em;
          position: relative;
          border-radius: 50%;
          border: 2px solid hslac($primary, 1);
          box-shadow: 0 3px 12px -2px hslac($primary, .6);
          overflow: hidden;

          @include flex-center();
          &-inner {
            min-width: 100%; min-height: 100%;
            max-width: 110%;
            position: absolute;
            object-fit: cover;
          }
        }
        &-name {
          margin: 0;
          width: 100%;
          color: hslac($white, 1);
          font-weight: 500;
          @include phone {
            display: none;
          }
          @include tablet {
            display: none;
          }
          &-text {
            margin: 0;
          }
        }
        &-arrow {
          margin: 0;
          width: 100%;
          @include phone {
            display: none;
          }
          @include tablet {
            display: none;
          }
          path {
            fill: none;
            stroke: hslac($white, 1);
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke-width: 2px;
          }
        }
      }
    }
  }
}

/* Main */
.main {
  width: 100%; min-height: 100vh;
  gap: 5em;
  @include flex-col-start-center();
}

/* Header */
.header {
  width: 100%; height: 35em;
  position: relative;

  &-slider {
    width: 100%; height: 100%;
    position: absolute;
    transition: opacity 1s ease-in-out;
    &-item {
      width: 100%; height: 100%;
      position: absolute;
      transition: opacity 1s ease-in-out;
    }
  }
  &-inner {
    width: 100%; height: 100%;
    display: grid;
    position: absolute;
    grid-template-columns: 70% 1fr;
    gap: 2em;
    @include phone {
      grid-template-columns: 100%;
    }
    @include tablet {
      grid-template-columns: 100%;
    }
    @include desktop {
      grid-template-columns: 100%;
    }
  }
  &-inner-2 {
    width: 100%; height: 100%;
    display: grid;
    position: absolute;
    grid-template-columns: 100%;
    gap: 2em;
  }

  &-left {
    width: 100%; height: 100%;
    @include flex-center();

    &-wrapper {
      width: 100%; height: 100%;
      position: relative;
      background-color: hslac($black, 1);
      border-radius: 2rem;
      overflow: hidden;

      &-profile {
        margin: 0;
        left: 2em; bottom: 2em;
        position: absolute;
        gap: 1.5em;
        z-index: 20;
        @include flex-center();
        @include phone {
          left: 0; right: 0;
          @include flex-col();
        }
        @include tablet {
          left: 0; right: 0;
          @include flex-col();
        }

        &-image {
          width: 10em; height: 10em;
          position: relative;
          border-radius: 1em;
          overflow: hidden;
          @include flex-center();
          @include phone {
            width: 10em; height: 10em;
          }
          @include tablet {
            width: 12em; height: 12em;
          }
          @include desktop {
            width: 9em; height: 9em;
          }

          &-inner {
            min-width: 100%; min-height: 100%;
            max-width: 110%;
            position: absolute;
            object-fit: cover;
          }
        }
        &-details {
          @include flex-col-left();

          &-name {
            margin: 0;
            color: hslac($white, 1);
            font-size: $heading-large;
            line-height: 1;
            text-decoration: none;
            @include phone {
              font-size: $heading-medium;
            }
            @include tablet {
              font-size: $heading-medium;
            }
            @include desktop {
              font-size: $heading-medium;
            }
          }
          &-items {
            gap: .75em;
            @include flex-left();

            &-item {
              margin: 0;
              color: hslac($white, 1);
              span {
                color: hslac($primary, 1);
              }
            }
          }
        }
      }
      &-logo {
        margin: 0;
        left: 1em; bottom: .8em;
        position: absolute;
        color: hslac($white, 1);
        font-size: $heading-large;
        line-height: 1;
        text-decoration: none;
        z-index: 20;
      }
      &-categories {
        left: 1.25em; top: 1.25em;
        position: absolute;
        gap: .5em;
        z-index: 20;
        @include flex-left();

        &-item {
          padding: .75em 1.15em;
          font-size: .8rem;
          color: hslac($white, 1);
          text-decoration: none;
          background-color: hslac($black, .5);
          backdrop-filter: blur(.5rem);
          border-radius: 5em;
          cursor: pointer;
        }
      }
      &-background {
        width: 100%; height: 100%;
        position: relative;
        overflow: hidden;
        @include flex-center();

        &::after {
          width: 100%; height: 100%;
          content: "";
          position: absolute;
          background: linear-gradient(hslac($black, 0) 0, hslac($black, 0) 64%, hslac($black, .64) 100%);
          z-index: 15;
        }
        &-image {
          min-width: 100%; min-height: 100%;
          max-width: 110%;
          position: absolute;
          object-fit: cover;
        }
      }
    }
  }
  &-right {
    width: 100%; height: 100%;
    position: relative;
    @include flex-center();
    @include phone {
      display: none;
    }
    @include tablet {
      display: none;
    }
    @include desktop {
      display: none;
    }

    &-wrapper {
      width: 100%; height: 100%;
      position: relative;
      background-color: hslac($black, 1);
      border-radius: 2rem;
      overflow: hidden;
      @include flex-center();

      &-top {
        left: 0; top: 0;
        margin: 2.5em;
        position: absolute;
        color: hslac($white, 1);
        z-index: 25;
        @include flex-col-left-ns();
        &-title {
          margin: 0;
        }
      }
      &-bottom {
        left: 0; bottom: 0;
        margin: 2.5em;
        position: absolute;
        color: hslac($white, 1);
        z-index: 25;
        @include flex-col-left-ns();

        &-button {
          padding: 1.2em 1.8em;
          font-size: $paragraph;
          color: hslac($white, 1);
          text-decoration: none;
          background-color: hslac($black, .5);
          border-radius: .75rem;
          border: none;
          cursor: pointer;
        }
      }
      &-background {
        width: 100%; height: 100%;
        position: relative;
        overflow: hidden;
        @include flex-center();

        &::after {
          width: 100%; height: 100%;
          content: "";
          position: absolute;
          background-color: hslac($black, .25);
          z-index: 15;
        }
        &-image {
          min-width: 110%; min-height: 110%;
          max-width: 150%;
          position: absolute;
          filter: blur(2rem);
          object-fit: cover;
        }
      }
    }
  }
}

/* Game */
.myscroller {
  padding: 4em;
  background-color: hslac($background-dark, 1);
  border-radius: 2em;
  @include phone {
    padding: 1.5em;
  }
  @include tablet {
    padding: 3em;
  }
  @include desktop {
    padding: 2em;
  }
}
.game-scroller {
  width: 100%;
  gap: 1em;
  overflow: hidden;
  @include flex-col-left-ns();

  &-title {
    margin: 0;
  }
  &-inner {
    width: 100%; height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2em;
    overflow: hidden;
    @include phone {
      grid-template-columns: repeat(2, 1fr);
      gap: 1em;
    }
    @include tablet {
      grid-template-columns: repeat(3, 1fr);
      gap: 1.25em;
    }
    @include desktop {
      grid-template-columns: repeat(4, 1fr);
      gap: 1.5em;
    }

    &-game {
      width: 100%; height: 1fr;
      position: relative;
      border-radius: 1.25rem;
      overflow: hidden;
      @include flex-center();
      &::after {
        content: "";
        display: block;
        padding-bottom: 130%;
      }
      &:hover > &-background::after {
        opacity: 0;
      }
      &:hover > &-background {
        transform: scale(1.1, 1.1);
      }
      &:hover > &-title {
        transform: scale(.95, .95);
        opacity: 0;
      }

      &-favorite {
        top: 0; left: 0;
        margin: .75em;
        width: 2.25em; height: 2.25em;
        position: absolute;
        border-radius: 50%;
        background-color: hslac($black, .6);
        backdrop-filter: blur(.6rem);
        z-index: 20;
        cursor: pointer;
        @include flex-center();

        &-icon {
          width: 1.25em;
          position: absolute;
          #heart-outer, #heart-outer-fav {
            stroke: none;
            stroke-width: 1;
            fill: none;
            fill-rule: evenodd;
            stroke-linecap: round;
            stroke-linejoin: round;
          }
          #heart {
            stroke: hslac($white, .75);
            stroke-width: 2px;
          }
          #heart-outer-fav {
            stroke: hslac($primary, .75);
            stroke-width: 2px;
          }
        }
      }
      &-title {
        margin: 0; padding: .75em;
        position: absolute;
        color: hslac($white, 1);
        font-size: $paragraph;
        font-weight: 700;
        text-align: center;
        line-height: 1.2em;
        text-decoration: none;
        word-break: break-word;
        transition: all .3s cubic-bezier($transition-main, 1);
        z-index: 20;
      }
      &-background {
        width: 100%; height: 100%;
        position: relative;
        transform: scale(1, 1);
        transition: all .3s cubic-bezier($transition-main, 1);
        overflow: hidden;
        @include flex-center();

        &::after {
          width: 100%; height: 100%;
          content: "";
          background: linear-gradient(hslac($black, .52) 0, hslac($black, .88) 100%);
          opacity: .66;
          transition: all .3s cubic-bezier($transition-main, 1);
          z-index: 15;
        }
        &-image {
          min-width: 100%; min-height: 100%;
          max-width: 110%;
          position: absolute;
          object-fit: cover;
        }
      }
    }
  }
}

/* background */
.c-blurred {
  &-red {
    width: 50em; height: 50em;
    position: absolute;
    border-radius: 50%;
    filter: blur(100rem);
    background-image: radial-gradient(circle, hslac($red, .27) 0%, hslac($red, 0) 100%);
    pointer-events: none;
    z-index: 1;
  }
  &-blue {
    left: 0; bottom: -25em;
    width: 25em; height: 25em;
    position: absolute;
    border-radius: 50%;
    filter: blur(10rem);
    background-image: radial-gradient(circle, hslac($blue, .27) 0%, hslac($blue, 0) 100%);
    pointer-events: none;
    z-index: 2;
  }
}
.background-blur {
  width: 50vw; height: 75vh;
  position: absolute;
  border-radius: 50%;
  filter: blur(100rem);
  pointer-events: none;
  user-select: none;
  opacity: .5;
  z-index: -1;
  @include phone {
    width: calc(100vw - 10vw); height: 75vh;
  }
  @include tablet {
    width: calc(100vw - 15vw); height: 75vh;
  }
  @include desktop {
    width: 60vw; height: 75vh;
  }
}

.game-details {
  margin: 4em 0;
  display: grid;
  grid-template-columns: 1fr auto;
  place-items: flex-start;
  gap: 3em;
  @include phone {
    grid-template-columns: 1fr;
  }
  @include tablet {
    gap: 2em;
  }
  &-left {
    width: 100%;
    gap: 2em;
    @include flex-col-left-ns();

    &-description {
      padding: 3em;
      width: 100%;
      background-color: hslac($background-dark, 1);
      border-radius: 2rem;
      gap: 1em;
      @include flex-col-left-ns();
      @include phone {
        padding: 1.5em;
      }
      @include tablet {
        padding: 2em;
      }
      @include desktop {
        padding: 2.5em;
      }

      p {
        margin: 0;
        color: hslac($white, .88);
        font-weight: 300;
      }
    }
    &-developers {
      width: 100%;
      &-item {
        width: 100%;
        position: relative;
        border-radius: 2rem;
        overflow: hidden;
        @include flex-center();

        &-details {
          padding: 3em 0;
          width: 100%;
          background-color: hslac($black, .4);
          z-index: 2;
          @include flex-col();

          &-title {
            margin: 0;
            position: relative;
            color: hslac($white, 1);
            font-size: $heading-medium;
            font-weight: 800;
            text-decoration: none;
            z-index: 3;
          }
        }
        &-background {
          min-width: 100%; min-height: 100%;
          max-width: 110%;
          position: absolute;
          object-fit: cover;
        }
      }
    }
    img {
      width: 100%;
    }
  }
  &-right {
    min-width: 13em;
    width: 100%;
    gap: 2em;
    @include flex-col();

    &-top {
      padding: 1.5em;
      width: 100%;
      background-color: hslac($background-dark, 1);
      border-radius: 1.5rem;
      gap: 1em;
      @include flex-col-left();

      &-block {
        p:first-child {
          color: hslac($quite-gray, 1);
        }
      }
      p {
        margin: 0;
      }
    }
    &-stores {
      width: 100%;
      gap: 1em;
      @include flex-col-left-ns();

      p {
        margin: 0;
      }
      &-item {
        width: 100%;
        position: relative;
        border-radius: 1.5rem;
        overflow: hidden;
        @include flex-center();

        &-details {
          padding: 3em 0;
          width: 100%;
          background-color: hslac($black, .4);
          z-index: 2;
          @include flex-col();

          &-title {
            margin: 0 1em;
            position: relative;
            font-size: $heading-small;
            z-index: 3;
          }
        }
        &-background {
          min-width: 100%; min-height: 100%;
          max-width: 110%;
          position: absolute;
          object-fit: cover;
        }
      }
    }
  }
}
/* Footer */
.footer {
  margin: 10em 0 0 0; padding: 2em 0;
  &-link {
    color: hslac($white, 1);
    text-decoration: none;
  }
}

/* Selection */
::selection {
  color: hslac($white, 1);
  background: hslac($primary, 1);
}
/* Scrollbar */
::-webkit-scrollbar-track {
  background-color: hslac($background, 1);
}
::-webkit-scrollbar {
  width: 1em;
  background-color: hslac($background, 1);
}
::-webkit-scrollbar-thumb {
  border: 5px solid hslac($background, 1);
  background-color: hslac($primary, 1);
  border-radius: 100vw;
}